
.header {
  width: 1440px;
  height: 80px;
  /* background: rgba(255, 255, 255, 0.50); */
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(24px);

  background-color: rgba(254, 241, 174);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.img1 {
  position: relative;
  width: 100%;
  height: 680px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.img1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/icon/6700291cf247dfdcdf3ae66be08f520e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: 43% 91%;
  transform: scale(1.8);
}
.item_header {
  width: 94%;
  height: 75%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
.right_header {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  /* background-color: rgb(98, 255, 0);  */
}

.div_li_header1 {
  position: relative;
  width: 135px;
  height: 24px;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
.bang{
  height: 305px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 12px; */
 position: absolute;
 z-index: 1;
 right: 6vw;
 top: 1.6vw;
 border-radius: 16px;
background: #F7F7F7;
box-shadow: 0px 4px 8px 0px rgba(43, 53, 116, 0.06);
transform-origin: top;
transition: all 0.3s linear;
}
.p1_bang{
  color: var(--primary, #DD9800);
text-align: right;
font-family: var(--medium);
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
display: flex;
justify-content: right;
align-items: flex-start;
}
.div1_bang{
  width: fit-content;
  width: 110px;
  height: 30px;
  border-bottom: 0.1px solid #787878;
  color: var(--black, #393939);
text-align: right;
font-family: var(--medium);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 1vw;
display: flex;
justify-content: right;
align-items: flex-start;
}
.div5_bang{
  width: fit-content;
  height: 30px;
  color: var(--black, #393939);
text-align: right;
font-family: var(--medium);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 1vw;
display: flex;
justify-content: right;
margin-left: 1vw;
}

.li_header1 {
  color: #222222;
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
  font-family: var(--medium);
}
.div_span1_3 {
  width: 45%;
  height: 21px;
  margin-right: 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--medium);
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
  color: #222222;

  /* background-color: aqua; */
}
.left_header {
  width: 7.7%;
  height: 50%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
.h1 {
  z-index: 2;
  color: #393939;
  font-size: 40px;
  font-family: var(--bold);
  font-weight: 500;
  word-wrap: break-word;
  margin-top: 2.8%;
}
.h2 {
  z-index: 2;
  color: #393939;
  font-size: 18px;
  font-family: var(--medium);
  font-weight: 500;
  word-wrap: break-word;
  margin-top: 8px;
}
.glass_box {
  position: absolute;
  width: 57%;
  height: 193px;
  flex-shrink: 0;
  margin-top: 505px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 15%);
  background-blend-mode: soft-light;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(7px);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2_1 {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  color: var(--taritary-secondary-04, #001c59);
  text-align: center;
  font-family: var(--medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 22px;
}
.p_glassbox {
  width: 94%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  /* background-color: aqua; */
}
.div_p {
  width: 47%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--black, #393939);
  text-align: right;
  font-family: var(--regular);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  /* background-color: rgb(219, 103, 26); */
}
.down {
  width: 95%;
  height: 50px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 22px;
  
}
.select1 {
  width: 144px;
  height: 48px;
  border-radius: 10px;
  background: #fff;
  flex-shrink: 0;
  border: 0px;
  color: var(--neutral-04, #787878);
  text-align: center;
  font-family: var(--small);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.select3 {
  width: 216px;
  height: 48px;
  border-radius: 10px;
  background: #fff;
  flex-shrink: 0;
  border: 0px;
  color: var(--neutral-04, #787878);
  text-align: center;
  font-family: var(--small);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.select {
  position: relative;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.select span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.open .options {
  max-height: 200px; /* or any desired height */
}

.option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #992929;
}
.button {
  width: 286px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #6394ff;
  border: 0px;
  color: var(--white, #f2f7ff);
  text-align: center;
  font-family: var(--small);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
