
body {
    padding: 0;
    margin: 0;
    max-width: 1440px;
    height: fit-content;
    overflow: no-content;
}

.divkol {

    overflow: no-display;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow: no-display;

}

.zmn-nav-button {
    /* Add your custom styles here */
    display: flex;
}

.header {

    width: 100%;
    height: 80px;
    /* background: rgba(255, 255, 255, 0.50); */
    backdrop-filter: blur(24px);
    background: rgba(255, 255, 255, 0.80);
    background-blend-mode: soft-light;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img1 {
    position: relative;
    width: 100%;
    height: 680px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.item_header {
    width: 94%;
    height: 75%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.right_header {
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    /* background-color: rgb(98, 255, 0);  */
}

.div_li_header1 {
    width: 120px;
    height: 24px;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

.li_header1 {
    color: #222222;
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    font-family: var(--medium);
}

.div_span1_3 {
    width: 45%;
    height: 21px;
    margin-right: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--regular);
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
    color: #222222;
    /* background-color: aqua; */
}

.span1_3 {
}

.span1 {
    background-color: inherit;
}

.left_header {
    width: 7.7%;
    height: 50%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    z-index: 2;
    color: #393939;
    font-size: 40px;
    font-family: var(--bold);
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 2.8%;
}

.h2 {
    z-index: 2;
    color: #393939;
    font-size: 18px;
    font-family: var(--medium);
    font-weight: 500;
    word-wrap: break-word;
    margin-top: -1.3%;
}

.nonheader {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.bala {
    gap: 25px;
    padding: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    height: 60px;
    width: 100%;
}

.iconsamtrast {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 48px;
    column-gap: 16px;

}

.vasaticon {
    height: 100%;
    width: 65%;
}

.icon {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px;
}

.nevshte {


    height: 1500px;
    overflow: visible;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #ffffff;

}

.clender {
    max-width: 500px;
    max-height: 200px;
    background-color: #9600F0;
}

.pmahsol {
    direction: rtl;
    width: 550px;
    height: 229px;
    color: var(--black, #393939);
    text-align: right;
    font-family: var(--small);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.divpmahsol {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.axayrast {

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    height: 420px;
}

.axballon {


    width: 555px;
    height: 190px;
    border-radius: 16px

}

.recht {
    padding-right: 150px;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;

}

.divdarajeb {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 32px;
}

.darajeb {
    direction: rtl;
    width: 117px;
    height: 30px;
    color: var(--black, #393939);
    text-align: right;
    font-family: var(--bold);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.divghavanin {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
}

.ghavanin {
    height: 30px;
    width: 198px;
    direction: rtl;
    font-family: var(--bold);
    color: var(--black, #393939);
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.divnevghavanin {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 610px;
    padding-left: 10px;
    margin: 0;

}

.nevghavanin {
    margin: 0;
    flex-shrink: 0;
    color: var(--black, #393939);
    text-align: right;
    font-family: var(--small);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.navul {
    margin-right: -10px;
    list-style-type: disc;
    height: 302px;
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.hhnav {
    padding-left: 15px;
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 550px;
    flex-shrink: 0;
    height: 609px;
}

.vali {
    margin: 0;
    flex-shrink: 0;
    color: var(--black, #393939);
    text-align: right;
    font-family: var(--small);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.links {

    padding-left: 150px;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

}

.divnevtaghvim {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
}

.divkhali {
    width: 20px;
    height: 100%;
}

.taghvim {

    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    height: 542px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #F5F5F5;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.10);
}

.divclass {

}

.ej {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
}

.gheymat {
    color: var(--black, #393939);
    font-family: var(--bold);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.ejare {
    color: #000;
    text-align: right;
    font-family: var(--bold);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.baghicalnnder {
    border: solid rgba(57, 57, 57, 0.04);
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: none;
    border-left: none;
    flex-direction: row;
    gap: 156px;
}


.zamanbandi {
    min-width: 66px;
    color: #000;
    text-align: right;
    font-family: var(--bold);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.zamanbandibadi {

    width: 295px;
    color: var(--black, #393939);
    font-family: var(--medium);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.diventekhab {
    height: 116px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    border-bottom: solid rgba(57, 57, 57, 0.04);
}

.diventekhab1 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 148px;

}


.inpubox {
    border-radius: 50%;
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #E0E0E0;
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.20);
}


.diventekhab2 {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 124px;
}


.calnder {
    width: 100%;
    height: 50%;

}

.nevtaghvim {
    color: var(--black, #393939);
    text-align: right;
    font-family: var(--bold);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ballonroab {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8%;
    width: 555px;
    height: 420px;
    margin-top: -10px;
}

.end {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    height: 332px;
    background: rgba(255, 255, 255, 0.80);
    padding: 24px;
    gap: 1em;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}

.buttonabi{
    margin-top: 32px;
  
    display: flex;
    width: 484px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--secondary, #4679E8);
    height: 48px;
    outline: none;
    border: none;
}

.axax{

    display: flex;
    width: 18.5px;
    height: 13.64px;
    padding: 5.182px 2.75px 5.18px 2.753px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.rezerv{
    gap: 8px;
    color: #FFF;
    font-family:var(--medium);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pain {
    font-family: var(--small);
    direction: rtl;
    height: 72px;
    width: 423px;
    color: var(--7B808C, #7B808C);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.taknafare {
    font-family: var(--bolder);
    color: var(--black, #393939);
    text-align: right;
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    width: 77px;
    height: 36px;
    direction: rtl;
}

.taknafare2 {
    direction: rtl;
    width: 112px;
    height: 24px;
    color: rgb(144, 144, 144);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: var(--small);
}

.bilder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 21px;
}

.akharin {
    height: 78px;
    width: 100%;
}

.darakhar {

    direction: rtl;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    height: fit-content;

}


.rast {
    width: 30%;
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 14px;
}

.divtah {
    gap: 15px;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 50px;

}

.kie {
    border-left-color: #7B808C;
    direction: rtl;
    height: 24px;
    width: 100px;
    color: var(--7B808C, #7B808C);
    text-align: center;
    font-family: var(--small);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.kie2 {
    font-family: var(--small);
    border-left-color: #7B808C;
    direction: rtl;
    height: 24px;
    width: 130px;
    color: #7B808C;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.divd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 25%;
    width: 129px;
    border-left: 1px solid #EDEDED;

}

span {
    width: 0px;
    height: 12px;
    stroke-width: 0.5px;
    background-color: #7B808C;
}

.vasat {
    width: 40%;
    height: 100%;
}

.moshahede {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 25px;
    height: 100px;
}

.pnumber {
    color: #000;
    text-align: center;

    /* body/XL */
    font-family: var(--small);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.moshahedesabad {

    height: 21px;
    color: var(--taritary-secondary-04, #001C59);
    text-align: center;
    font-family: var(--medium);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.nazaratkarbardiv {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-color: #ffffff;
    padding-left: 394px;
    padding-right: 394px;
}

.nazarkarbarheader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100px;
    width: 100%;
    gap: 40px;
}

.nevnazarkarbar {
    color: var(--black, #393939);
    text-align: right;
    width: 129px;
    height: 36px;
    /* H4 */
    font-family: var(--bolder);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.nevnazarkarbar2 {
    color: var(--black, #393939);
    text-align: right;
    width: fit-content;
    height: 36px;
    /* H4 */
    font-family: var(--bolder);
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.didgah55 {
    height: 24px;
    font-family: var(--medium);
    width: 488px;
    color: var(--black, #393939);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    direction: rtl;
}

.divdidgah55 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 80%;

}

.khataval {
    gap: 8px;
    width: 100%;
    height: 18px;
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;

}

.coment {
    width: 100%;

    margin-top: 24px;
    margin-bottom: 24px;
    padding-right: 330px;
    overflow: no-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    gap: 16px;
}

.vidcoment {

    align-items: flex-start;
    width: 100%;
    height: 55px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 17px;
}

.matn {

    width: fit-content;
    color: var(--black, #393939);
    text-align: right;
    font-family: var(--medium);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.14px;
}

.namecom {
    direction: rtl;
    width: fit-content;
    flex-shrink: 0;
    color: var(--neutral-04, #787878);
    text-align: right;
    font-family: var(--small);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.star {
    display: flow;
}

.divbutton {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.but {
    height: 40px;
    width: 119px;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--primary, #DD9800);
    background-color: initial;
    margin-bottom: 40px;
}

.pbut {
    color: var(--taritary-primary-03, #DD9800);
    height: 24px;
    width: 87px;
    direction: rtl;
    font-family: var(--small);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.inputscom {
    flex-direction: column;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 24px;
}

.div2input {
    gap: 23.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 555px;
}

.k2input {

    text-align: right;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    /* body/MD */
    font-family: var(--small);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: initial;
    direction: rtl;

    border-radius: 8px;
    border: 1px solid var(--neutral-04, #787878);
    opacity: 0.92;
    width: 265.5px;
    height: 48px;
    flex-shrink: 0;
    box-shadow: 0px 8px 16px 0px rgba(43, 53, 116, 0.04);
}

.inputemail {
    text-align: right;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    /* body/MD */
    font-family: var(--small);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: initial;
    direction: rtl;
    width: 582px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--neutral-04, #787878);
    opacity: 0.92;
    /* medium */

    box-shadow: 0px 8px 16px 0px rgba(43, 53, 116, 0.04);
}

.matnpayam {
    text-align: right;
    padding-right: 24px;
    padding-top: 25px;
    padding-bottom: 104px;
    font-family: var(--small);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: initial;
    direction: rtl;
    width: 582px;
    height: 153px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--neutral-04, #787878);
    opacity: 0.92;
    box-shadow: 0px 8px 16px 0px rgba(43, 53, 116, 0.04);
}

.ersalpayam {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 43%;
    height: 100px;
}

.buttomtala {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--primary, #DD9800);
    width: 90px;
    height: 40px;
    outline: none;
    border: none;
}

.pnazar {
    color: var(--white, #F2F7FF);
    font-family: var(--medium);
    width: 54px;
    height: 24px;
    /* caption/lg */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}