.water1_sports {
  width: 91.5%;
  height: 304px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 95px;
  @media screen and (max-width: 780px) {
    height: 608px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
    height: 608px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: red;
  }
}

.water_sports:hover {
  /* box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.442); */
  -webkit-box-shadow: -3px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -3px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.water_sports {
  width: 23.2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  @media screen and (max-width: 780px) {
    width: 48%;
    height: 48%;
  }
  @media screen and (max-width: 480px) {
    width: 48%;
    height: 49%;
  }
}
.water1_sports:hover .water_sports {
  pointer-events: auto;
}

.div_circle {
  margin-top: 5px;
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background-color: #f2f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: var(--black, #393939);
  text-align: center;
  font-family: var(--medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 40px;
}
.text {
  color: var(--neutral-04, #787878);
  font-family: var(--small);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  padding-right: 12%;
  padding-left: 12%;
  margin-top: 10px;
}
.divhr {
  width: 62%;
  height: 30px;
  margin-top: 88px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  /* background-color: bisque; */
}
.hr {
  width: 20%;
  height: 0px;
  border-top: 2px solid #393939;
  border-left: 0px;
  flex-shrink: 0;
  stroke-width: 5px;
  margin-right: 17px;
}
.point {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #393939;
}
.phr {
  color: var(--black, #393939);
  text-align: center;
  font-family: var(--bolder);
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  margin-right: 26px;
  @media screen and (max-width: 780px) {
    font-size: 14px;
  }
}
.hr2 {
  width: 20%;
  height: 0px;
  border-top: 2px solid #393939;
  border-left: 0px;
  flex-shrink: 0;
  stroke-width: 5px;
}
.point2 {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background-color: #393939;
  margin-right: 25px;
}
.div_imgs {
  width: 71%;
  height: 761.707px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  gap: 15px;
}
.div_right_img {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: space-between; */
  /* align-items: center; */
}
.div_right_img:hover {
  height: 85%;
  gap: 90px;
}
.img1 {
  width: 99%;
  height: 412px;
  background-image: url("/icon/pexels-engin-akyurt-10364376 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 19.043px;
  box-shadow: 0px 4px 8px 0px rgba(43, 53, 116, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.5s;
}

.div_down_img {
  width: fit-content;
  height: 234px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 18px;
}

.img2 {
  width: 246px;
  height: 234px;
  background-image: url("/icon/pexels-ryan-klaus-11917515\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 19.043px;
  box-shadow: 0px 4px 8px 0px rgba(43, 53, 116, 0.06);
  transition: ease-in-out 0.5s;
}

.img3 {
  width: 246px;
  height: 234px;
  background-image: url("/icon/pexels-harold-granados-10088090\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 19.043px;
  box-shadow: 0px 4px 8px 0px rgba(43, 53, 116, 0.06);
}

.img1:hover {
  transform-origin: right top;
  transform: scaleX(1.3) scaleY(1.2);
  transition: ease-in-out 0.5s;
}
.img1:hover + .div_down_img .img2 {
  /* transform: scaleX(1.3) scaleY(1.1); */
  transform-origin: left;
  transition: ease-in-out 0.5s;
  width: 450px;
  height: 200px;
  background-position: center;
}
.img1:hover + .div_down_img .img3 {
  /* transform: scaleX(1.3) scaleY(1.1); */
  transition: ease-in-out 0.5s;
  width: 200px;
  height: 200px;
}
.img1:hover + .divleft_img .img4 {
  /* transform: scaleX(1.3) scaleY(1.1); */
  transition: ease-in-out 0.5s;
  width: 190px;
  height: 666px;
}
.divleft_img {
  display: flex;
}
.img4 {
  width: 336px;
  height: 666px;
  background-image: url("/icon/pexels-jaime-reimer-2749500\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 19.043px;
  box-shadow: 0px 4px 8px 0px rgba(43, 53, 116, 0.06);
}

.swiper-button-next {
  color: red !important;
}
.divhr2 {
  width: 100%;
  height: 30px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* background-color: bisque; */
}
@media screen and (max-width: 780px) {
  .khat {
    width: 25%;
  }
}
.phr2 {
  color: #393939;
  text-align: center;
  font-family: var(--bolder);
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  @media screen and (max-width: 780px) {
    font-size: 16px;
  }
}
.div_slider_2 {
  width: 100%;
  max-width: 1325px;
  height: fit-content;
  /* background-color: red; */
  margin-top: 40px;
  text-align: center;
}
.oferr {
  width: 91%;
  height: 572px;
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  background-image: url("/icon/banner.svg");
  background-repeat: no-repeat;
  box-shadow: 0px 4px 8px 0px rgba(43, 53, 116, 0.06);
  @media screen and (max-width: 780px) {
    background-size: cover;
    width: 91%;
    height: 300px;
  }
}
.p_news {
  color: var(--black, #393939);
  text-align: center;
  font-family: var(--small);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}
.div_news {
  position: relative;
  width: 91%;
  height: 448px;
  flex-shrink: 0;
  background: var(--primary, #eba453);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.div_news > div {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 352px;
  flex-shrink: 0;
  border-radius: 17px;
  margin-top: 35px;
  box-shadow: 0px 2px 4px 0px rgba(202, 79, 79, 0);
  background-size: cover;
}
.img1_news {
  width: 240px;
  height: 352px;
  flex-shrink: 0;
  border-radius: 17px;
  background-image: url("/icon/pexels-donald-tong-50911\ 1.svg");
  margin-top: 65px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 780px) {
    width: 140px;
    height: 252px;
  }
}
.img1_news .qwe {
  display: none;
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--black, #393939);
  background: rgba(57, 57, 57, 0.7);
  border-radius: 17px;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
  color: var(--white, #f2f7ff);
  text-align: center;
  font-family: var(--medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.img1_news:hover .qwe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img2_news {
  width: 240px;
  height: 352px;
  flex-shrink: 0;
  border-radius: 17px;
  background-image: url("/icon/what-is-parasailing\ 1.svg");
  margin-bottom: 65px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 780px) {
    width: 140px;
    height: 252px;
  }
}
.img2_news .qwe {
  display: none;
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--black, #393939);
  background: rgba(57, 57, 57, 0.7);
  border-radius: 17px;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
  color: var(--white, #f2f7ff);
  text-align: center;
  font-family: var(--medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img2_news:hover .qwe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img3_news {
  width: 240px;
  height: 352px;
  flex-shrink: 0;
  border-radius: 17px;
  background-image: url("/icon/kish-8\ 1.svg");
  margin-top: 65px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 780px) {
    width: 140px;
    height: 252px;
  }
}
.img3_news .qwe {
  display: none;
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--black, #393939);
  background: rgba(57, 57, 57, 0.7);
  border-radius: 17px;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
  color: var(--white, #f2f7ff);
  text-align: center;
  font-family: var(--medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img3_news:hover .qwe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img4_news {
  width: 240px;
  height: 352px;
  flex-shrink: 0;
  border-radius: 17px;
  background-image: url("/icon/pexels-maël-balland-3098970\ 1.svg");
  margin-bottom: 65px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 780px) {
    width: 140px;
    height: 252px;
  }
}
.img4_news .qwe {
  display: none;
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--black, #393939);
  background: rgba(57, 57, 57, 0.7);
  border-radius: 17px;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
  color: var(--white, #f2f7ff);
  text-align: center;
  font-family: var(--medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img4_news:hover .qwe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img5_news {
  width: 240px;
  height: 352px;
  flex-shrink: 0;
  border-radius: 17px;
  background-image: url("/icon/055.png");
  margin-top: 65px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 780px) {
    width: 140px;
    height: 252px;
  }
}
.img5_news .qwe {
  display: none;
  width: 100%;
  height: 100%;
  border: 0.5px solid var(--black, #393939);
  background: rgba(57, 57, 57, 0.7);
  border-radius: 17px;
  flex-shrink: 0;
  color: var(--white, #f2f7ff);
  text-align: center;
  font-family: var(--medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.img5_news:hover .qwe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1.8s ease;
}
.qwe2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: fit-content;
  color: var(--taritary-primary-03, #dd9800);
  text-align: center;
  font-family: var(--small);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}
.div_information_marina {
  width: 91%;
  height: 788px;
  flex-shrink: 0;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 780px) {
    height: 550px;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0px;
  }
}
.div_about_marina {
  position: relative;
  width: 100%;
  height: 377px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 780px) {
    height: 250px;
  }
}
.title_about {
  position: absolute;
  width: fit-content;
  height: 55px;
  top: 0;
  right: 670px;
  color: var(--black, #393939);
  text-align: justify;
  font-family: var(--medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: right;
  @media screen and (max-width: 780px) {
    font-size: 14px;
    height: 35px;
    right: 340px;
    top: 15px;
  }
}
.hr00 {
  width: 68px;
  height: 2px;
  background-color: var(--primary, #eba453);
  margin-top: 10px;
  @media screen and (max-width: 780px) {
    width: 32px;
  }
}
.div_img_about {
  position: relative;
  height: 100%;
  width: fit-content;
  margin-right: 113px;
  z-index: 1;
  @media screen and (max-width: 780px) {
    /* background-color: blue; */
    margin-right: -0px;
  }
}
.img_about {
  width: 304px;
  height: 346px;
  background-image: url("/icon/kish-marina-1024x585\ 1.svg");
  background-repeat: no-repeat;
  border-radius: 27px;
  box-shadow: 0px 8px 16px 0px rgba(43, 53, 116, 0.04);
  @media screen and (max-width: 780px) {
    width: 202px;
    height: 203px;
  }
}
.color_bc {
  position: absolute;
  width: 222px;
  height: 246px;
  flex-shrink: 0;
  border-radius: 24px;
  background: rgba(255, 206, 99, 0.5);
  top: 130px;
  left: -30px;
  z-index: -1;
  @media screen and (max-width: 780px) {
    width: 142px;
    height: 143px;
    left: -20px;
    top: 90px;
  }
}
.div_words {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 52%;
  height: 315px;
  background-image: url("/icon/Frame222\ 1686560253.svg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 780px) {
    width: 54%;
    height: 173px;
    background-size: cover;
    top: 60px;
  }
}
.p_about {
  max-width: 73%;
  position: absolute;
  color: var(--black, #393939);
  text-align: justify;
  font-family: var(--regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  z-index: 10;
  line-height: 240%;
  @media screen and (max-width: 780px) {
    font-size: 12px;
    font-family: var(--medium);
  }
}
.div_about_marina2 {
  position: relative;
  width: 100%;
  height: 377px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 780px) {
    height: 250px;
  }
}
.title_about2 {
  position: absolute;
  width: fit-content;
  height: 55px;
  top: 0;
  right: 113px;
  color: var(--black, #393939);
  text-align: justify;
  font-family: var(--medium);
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: right;
  @media screen and (max-width: 780px) {
    font-size: 14px;
    height: 35px;
    right: 40px;
    top: 15px;
  }
}
.hr002 {
  width: 118px;
  height: 2px;
  background-color: var(--primary, #eba453);
  margin-top: 10px;
  @media screen and (max-width: 780px) {
    width: 62px;
  }
}
.div_img_about2 {
  position: relative;
  height: 100%;
  width: fit-content;
  margin-left: 113px;
  z-index: 1;
  @media screen and (max-width: 780px) {
    /* background-color: blue; */
    margin-left: -0px;
  }
}
.img_about2 {
  width: 304px;
  height: 346px;
  background-image: url("/icon/kish-8\ 133.svg");
  background-repeat: no-repeat;
  border-radius: 27px;
  box-shadow: 0px 8px 16px 0px rgba(43, 53, 116, 0.04);
  @media screen and (max-width: 780px) {
    width: 202px;
    height: 203px;
  }
}
.color_bc2 {
  position: absolute;
  width: 222px;
  height: 246px;
  flex-shrink: 0;
  border-radius: 24px;
  opacity: 0.4;
  background: var(--secondary, #6394ff);
  top: 130px;
  right: -30px;
  z-index: -1;
  @media screen and (max-width: 780px) {
    width: 142px;
    height: 143px;
    right: -22px;
    top: 85px;
  }
}
.div_words2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 52%;
  height: 269px;
  background: rgba(255, 224, 158, 0.5);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 780px) {
    width: 54%;
    height: 173px;
    background-size: cover;
    top: 60px;
  }
}
.div_reserv {
  position: relative;
  width: 75%;
  height: 127px;
  border-radius: 20px;
  background: var(--primary, #dd9800);
  box-shadow: 0px 4px 8px 0px rgba(43, 53, 116, 0.06);
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 780px) {
    height: 80px;
    margin-bottom: 50px;
  }
}
.p_reserv1 {
  position: absolute;
  max-width: 440px;
  color: var(--white, #f2f7ff);
  text-align: justify;
  font-family: var(--medium);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  right: 20px;
  @media screen and (max-width: 780px) {
    font-size: 20px;
  }
}
.p_reserv2 {
  position: absolute;
  color: #fff;
  text-align: justify;
  font-family: var(--small);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  right: 490px;
  @media screen and (max-width: 780px) {
  font-size: 12px;
  right: 310px;
  }
}
.button_reserv {
  position: absolute;
  width: 202px;
  height: 56px;
  display: inline-flex;
  padding: 13px 65px 13px 66px;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 15px;
  left: 30px;
  background: var(--white, #f2f7ff);
  box-shadow: 0px 4px 8px 0px rgba(43, 53, 116, 0.06);
  color: var(--black, #393939);
  font-family: var(--medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;  
  @media screen and (max-width: 780px) {
  width: 100px;
  height: 36px;
  font-size: 12px;
  padding: 0px;
  border-radius: 10px;
  }
}
.base_comment {
  width: 93%;
  height: 654px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  @media screen and (max-width: 780px) {
    height: 450px;
    }
}
.div_comment_right {
  position: relative;
  width: 288.926px;
  height: 600.592px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @media screen and (max-width: 780px) {
    height: 430px;
    }
}
.img1_comment {
  width: 132.7px;
  height: 132.207px;
  background-image: url("/icon/Ellipse\ 26.svg");
  border-radius: 132.7px;
  @media screen and (max-width: 780px) {
  width: 90px;
  height: 90px;
  background-size: cover;
  }
}
.img2_comment {
  width: 150.092px;
  height: 149.534px;
  background-image: url("/icon/Ellipse\ 27.svg");
  border-radius: 132.7px;
  display: flex;
  align-self: flex-end;
  @media screen and (max-width: 780px) {
    width: 90px;
    height: 90px;
    background-size: cover;
    }
}
.img3_comment {
  width: 132.7px;
  height: 132.207px;
  background-image: url("/icon/Ellipse\ 28.svg");
  border-radius: 132.7px;
  @media screen and (max-width: 780px) {
    width: 90px;
    height: 90px;
    background-size: cover;
    }
}
.div_comment_center {
  width: 462px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--black, #393939);
  text-align: justify;
  font-family: var(--regular);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (max-width: 780px) {
    height: 400px;
    }
}
.p_comment {
  color: var(--secondary, #4679e8);
  text-align: justify;
  font-family: var(--bolder);
  font-size: 26px;
  font-weight: 900;
  line-height: normal;
  @media screen and (max-width: 780px) {
font-size: 18;
    }
}
.div_img4_comment {
  width: 100%;
  height: 359px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  

}
.img4_comment {
  width: 184px;
  height: 184px;
  border-radius: 132.7px;
  background-image: url("/icon/Ellipse\ 29.svg");
  @media screen and (max-width: 780px) {
    width: 110px;
    height: 110px;
    background-size: cover;
    }
}
.p_img4 {
  color: var(--neutral-04, #787878);
  text-align: center;
  font-family: var(--regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (max-width: 780px) {
 font-size: 12px;
    }
}
.div_comment_left {
  position: relative;
  width: 288.926px;
  height: 600.592px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  @media screen and (max-width: 780px) {
    height: 420px;
    }
}
.img5_comment {
  width: 132.7px;
  height: 132.207px;
  background-image: url("/icon/Ellipse\ 30.svg");
  background-repeat: no-repeat;
  border-radius: 132.7px;
  @media screen and (max-width: 780px) {
    width: 90px;
    height: 90px;
    background-size: cover;
    }
}
.img6_comment {
  width: 150.092px;
  height: 149.534px;
  background-image: url("/icon/Ellipse\ 31.svg");
  background-repeat: no-repeat;
  border-radius: 132.7px;
  display: flex;
  align-self: flex-start;
  @media screen and (max-width: 780px) {
    width: 90px;
    height: 90px;
    background-size: cover;
    }
}
.img7_comment {
  width: 132.7px;
  height: 132.207px;
  background-image: url("/icon/Ellipse\ 32.svg");
  background-repeat: no-repeat;
  border-radius: 132.7px;
  @media screen and (max-width: 780px) {
    width: 90px;
    height: 90px;
    background-size: cover;
    }
}
.divhr4 {
  width: 76%;
  height: 30px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.div_input {
  width: 76%;
  height: 72px;
  margin-top: 40px;
  border-radius: 52px 24px 24px 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 8px 0px rgba(43, 53, 116, 0.06);
  background: var(--primary, #dd9800);
}
.input {
  width: 80%;
  height: 100%;
  background-color: transparent;
  border-radius: 0px 24px 24px 0px;
  border: none;
  outline: none;
  color: var(--neutral-01, #f9f9f9);
  font-family: var(--small);
  font-size: 20px;
  font-weight: 400;
  padding-right: 15px;
  caret-color: transparent;
}
.input::placeholder {
  color: var(--neutral-01, #f9f9f9);
}
.div_base_question {
  width: 76%;
  height: 496px;
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 780px) {
    justify-content: center;
    gap: 8px;
height: 250px;
     }
  
}
.divhr5 {
  width: 100%;
  height: 30px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}
.divhr3 {
  width: 42%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.point3 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #393939;
}
.phr3 {
  color: #393939;
  text-align: center;
  font-family: var(--bolder);
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  line-height: normal;
  @media screen and (max-width: 780px) {

font-size: 12px;  }
}
.point4 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #393939;
  margin-right: 0.7vw;
}
.hr3 {
  width: 95%;
  height: 0px;
  border-top: 1.5px solid #393939;
  border-left: 0px;
  flex-shrink: 0;
  stroke-width: 5px;
}
.div_question {
  width: 100%;
  height: 148px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.question {
  display: flex;
  width: 480px;
  height: 100px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 8px;
  border: 1px solid var(--C9CBD1, #c9cbd1);
  @media screen and (max-width: 780px) {
    width: 240px;
    height: 80px;
    gap: 0px;
    }
}
.div_p_question {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: flex-start;
  color: #393939;
  text-align: right;
  font-family: var(--bold);
  font-size: 16px;
  font-weight: 500;
  gap: 24px;
  /* background-color: aqua; */
  @media screen and (max-width: 780px) {
font-size: 8px;
  }
}
.p2_question {
  max-width: 380px;
  color: var(--7B808C, #7b808c);
  text-align: right;
  font-family: var(--small);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  margin-right: 50px;
  @media screen and (max-width: 780px) {
font-size: 8px;   
 }
}
.end {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 290px;
  background: rgba(255, 255, 255, 0.8);
  gap: 1em;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
  padding-top: 45px;
}

.axax {
  display: flex;
  width: 18.5px;
  height: 13.64px;
  padding: 5.182px 2.75px 5.18px 2.753px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.rezerv {
  gap: 8px;
  color: #fff;
  font-family: var(--medium);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pain {
  font-family: var(--small);
  direction: rtl;
  height: 72px;
  width: 423px;
  color: var(--7B808C, #7b808c);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.taknafare {
  font-family: var(--bolder);
  color: var(--black, #393939);
  text-align: right;
  font-size: 25px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
  width: 77px;
  height: 36px;
  direction: rtl;
}

.taknafare2 {
  direction: rtl;
  width: 112px;
  height: 24px;
  color: rgb(144, 144, 144);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: var(--small);
}

.bilder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 21px;
}

.akharin {
  height: 78px;
  width: 100%;
}

.darakhar {
  direction: rtl;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 70px;
  background: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ededed;
}

.rast {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 12px;
  margin-left: 1vw;
}

.divtah {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
  height: 40px;
  gap: 15px;
  color: var(--7B808C, #7b808c);
  text-align: center;
  font-family: var(--medium);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 1vw;
}

.kie {
  border-left-color: #7b808c;
  text-align: center;
  font-family: var(--medium);
  font-size: 16px;
  font-weight: 400;
}

.kie2 {
  font-family: var(--small);
  direction: rtl;
  height: 24px;
  color: #7b808c;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.divd1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 25%;
  width: 22%;
  border-left: 1.5px solid #ededed;
}
.divd2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 25%;
  width: 19%;
  border-left: 1.5px solid #ededed;
}
.divd3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 25%;
  width: 17%;
  border-left: 1.5px solid #ededed;
}

.span {
  width: 0px;
  height: 12px;
  stroke-width: 0.5px;
  background-color: #7b808c;
}
