/* [class^=number_slide],
[class*= number_slide] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
} */

.number_slide1 {
  max-width: 32% !important;
  min-width: 32% !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/aa.svg');
  display: flex;
  @media screen and (max-width: 480px) {
    max-width: 28% !important;
  min-width: 28% !important;
  height: 196px !important;
  background-size: cover;
  background-repeat: no-repeat;
  }

}
.number_slide2 {
  max-width: 32% !important;
  min-width: 32% !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/pexels-kampus-production-8711917\ 1.svg');
  @media screen and (max-width: 480px) {
    max-width: 28% !important;
  min-width: 28% !important;
  }
}

.number_slide3 {
  max-width: 32% !important;
  min-width: 32% !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/shatel3\ 1.svg');
  @media screen and (max-width: 480px) {
    max-width: 28% !important;
  min-width: 28% !important;
  }
}

.number_slide4 {
  max-width: 32% !important;
  min-width: 32% !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/aa.svg');
  @media screen and (max-width: 480px) {
    max-width: 28% !important;
  min-width: 28% !important;
  }
}

.number_slide5 {
  max-width: 32% !important;
  min-width: 32% !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/pexels-kampus-production-8711917\ 1.svg');
  @media screen and (max-width: 480px) {
    max-width: 28% !important;
  min-width: 28% !important;
  }
}

.number_slide6 {
  max-width: 32% !important;
  min-width: 32% !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/shatel3\ 1.svg');
  @media screen and (max-width: 480px) {
    max-width: 28% !important;
  min-width: 28% !important;
  }
}
.shadow1{
  width: 100%;
   height: 196px;
   position: relative;
   z-index: 10;
   background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(96, 96, 96, 0.02) 0.01%, rgba(0, 0, 0, 0.80) 66.98%);
 display: flex;
 align-items: end;
  }
.navigation_wrapper {
  position: relative;
}
.navigation_wrapper2 {
  position: relative;
  margin-top: 60px;
}
.dots{
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot{
  border: 1px solid rgba(255, 255, 255,);
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}
.arrow {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #393939;
  cursor: pointer;
}
.div_arrow{
  width: 99%;
  display: flex;
  justify-content: space-between;
align-items: center;
/* background-color: aqua; */
margin-right: 10px;
}
.cdcd{
  height: 100px;
  width: 100px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
} 
.p__tag{
  color: var(--black, #393939);
text-align: center;
font-family: var(--medium);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.div__button{
  width: 70%;
  height: fit-content;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.button1_9{
  position: relative;
  z-index: 10;
  display: flex;
width: 144px;
height: 40px;
padding: 8px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
background-color:  #6394FF;
border: 0px;
font-family: var(--small);
color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-right: 18px;
text-align: center;
cursor: pointer;
}
.p_div_button1_4{
  color: var(--white, #F2F7FF);
font-family: var(--medium);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.p_div_button2_5{
  color: var(--white, #F2F7FF);
font-family: var(--medium);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
}
.p_div_button3_6{
  color: var(--white, #F2F7FF);
font-family: var(--medium);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 55px;
}


.number_slide2_1 {
  max-width: 421px !important;
  min-width: 421px !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/کشتی-آرتمیس-پلاس-کیش\ 1.svg');
  display: flex;
  
}
.number_slide2_2 {
  max-width: 421px !important;
  min-width: 421px !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/بنانا-دبی-2\ 1.svg');
}

.number_slide2_3 {
  max-width: 421px !important;
  min-width: 421px !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/1-41\ 1.svg');
}

.number_slide2_4 {
  max-width: 421px !important;
  min-width: 421px !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/کشتی-آرتمیس-پلاس-کیش\ 1.svg');
}

.number_slide2_5 {
  max-width: 421px !important;
  min-width: 421px !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/بنانا-دبی-2\ 1.svg');
}

.number_slide2_6 {
  max-width: 421px !important;
  min-width: 421px !important;
  height: 196px !important;
  border-radius: 16px;
  margin-top: 40px;
  background-image: url('/icon/1-41\ 1.svg');
}
.div__button2{
  width: 92%;
  height: fit-content;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.p_div_button2_1_4{
  color: var(--white, #F2F7FF);
font-family: var(--medium);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.p_div_button2_2_5{
  color: var(--white, #F2F7FF);
font-family: var(--medium);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 65px;
}
.p_div_button2_3_6{
  color: var(--white, #F2F7FF);
font-family: var(--medium);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 50px;
}


